* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  background: white;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
  backdrop-filter: blur(10px);
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  /* visibility: hidden;
  opacity: 0; */
  transition: visibility 0s, opacity 0.5s;
  z-index: 99;
}

.modal h1{
  color: #6c90d8;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}


/* TABLE */

.table {
position: relative;
height: 500px;
width: 500px;

border-radius: 25px;
background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2));
backdrop-filter: blur(20px);
}

.disabled{
  visibility: hidden;
}

.dice-div img{
  width: 40px;
  height: 40px;
  position: absolute;
  TOP: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(5px);
}

.btn-roll{
  position: absolute;
  top: 50px;
  width: 150px;
  height: 30px;
  background: linear-gradient(to right , rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.6));
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.btn-roll:hover{
  background: linear-gradient(to right , rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.8));
}

/* P1 */

.p1-square {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  border-radius: 25px;
  background: linear-gradient(to right top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2));
}

.p1-1 {
  background-color: red;
  position: absolute;
  height: 25px;
  width: 25px;
  border: 1px solid red;
  border-radius: 100%;
  cursor: pointer;
  left: 10px;
  bottom: 60px;
  z-index: 99;
  transition: all 0.5s;
}

.p1-2 {
  background-color: red;
  position: absolute;
  height: 25px;
  width: 25px;
  border: 1px solid red;
  border-radius: 100%;
  cursor: pointer;
  left: 60px;
  bottom: 60px;
  z-index: 99;
  transition: all 0.5s;
}

.p1-3 {
  background-color: red;
  position: absolute;
  height: 25px;
  width: 25px;
  border: 1px solid red;
  border-radius: 100%;
  cursor: pointer;
  left: 10px;
  bottom: 10px;
  z-index: 99;
  transition: all 0.5s;
}

.p1-4 {
  background-color: red;
  position: absolute;
  height: 25px;
  width: 25px;
  border: 1px solid red;
  border-radius: 100%;
  cursor: pointer;
  left: 60px;
  bottom: 10px;
  z-index: 99;
  transition: all 0.5s;
}

/* P2 */

.p2-square {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  border-radius: 25px;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2));
}

.p2-1 {
  background-color: blue;
  position: absolute;
  height: 25px;
  width: 25px;
  border: 1px solid blue;
  border-radius: 100%;
  cursor: pointer;
  left: 10px;
  top: 60px;
  z-index: 99;
  transition: all 0.5s;
}

.p2-2 {
  background-color: blue;
  position: absolute;
  height: 25px;
  width: 25px;
  border: 1px solid blue;
  border-radius: 100%;
  cursor: pointer;
  left: 60px;
  top: 60px;
  z-index: 99;
  transition: all 0.5s;
}

.p2-3 {
  background-color: blue;
  position: absolute;
  height: 25px;
  width: 25px;
  border: 1px solid blue;
  border-radius: 100%;
  cursor: pointer;
  left: 10px;
  top: 10px;
  z-index: 99;
  transition: all 0.5s;
}

.p2-4 {
  background-color: blue;
  position: absolute;
  height: 25px;
  width: 25px;
  border: 1px solid blue;
  border-radius: 100%;
  cursor: pointer;
  left: 60px;
  top: 10px;
  z-index: 99;
  transition: all 0.5s;
}

/* P3 */

.p3-square {
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
  height: 100px;
  border-radius: 25px;
  background: linear-gradient(to left bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2));
}

.p3-1 {
  background-color: yellow;
  position: absolute;
  height: 25px;
  width: 25px;
  border: 1px solid yellow;
  border-radius: 100%;
  cursor: pointer;
  right: 60px;
  top: 60px;
  z-index: 99;
  transition: all 0.5s;
}

.p3-2 {
  background-color: yellow;
  position: absolute;
  height: 25px;
  width: 25px;
  border: 1px solid yellow;
  border-radius: 100%;
  cursor: pointer;
  right: 10px;
  top: 60px;
  z-index: 99;
  transition: all 0.5s;
}

.p3-3 {
  background-color: yellow;
  position: absolute;
  height: 25px;
  width: 25px;
  border: 1px solid yellow;
  border-radius: 100%;
  cursor: pointer;
  right: 60px;
  top: 10px;
  z-index: 99;
  transition: all 0.5s;
}

.p3-4 {
  background-color: yellow;
  position: absolute;
  height: 25px;
  width: 25px;
  border: 1px solid yellow;
  border-radius: 100%;
  cursor: pointer;
  right: 10px;
  top: 10px;
  z-index: 99;
  transition: all 0.5s;
}

/* P4 */

.p4-square {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  border-radius: 25px;
  background: linear-gradient(to left top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2));
}

.p4-1 {
  background-color: green;
  position: absolute;
  height: 25px;
  width: 25px;
  border: 1px solid green;
  border-radius: 100%;
  cursor: pointer;
  right: 60px;
  bottom: 60px;
  z-index: 99;
  transition: all 0.5s;
}

.p4-2 {
  background-color: green;
  position: absolute;
  height: 25px;
  width: 25px;
  border: 1px solid green;
  border-radius: 100%;
  cursor: pointer;
  right: 10px;
  bottom: 60px;
  z-index: 99;
  transition: all 0.5s;
}

.p4-3 {
  background-color: green;
  position: absolute;
  height: 25px;
  width: 25px;
  border: 1px solid green;
  border-radius: 100%;
  cursor: pointer;
  right: 60px;
  bottom: 10px;
  z-index: 99;
  transition: all 0.5s;
}

.p4-4 {
  background-color: green;
  position: absolute;
  height: 25px;
  width: 25px;
  border: 1px solid green;
  border-radius: 100%;
  cursor: pointer;
  right: 10px;
  bottom: 10px;
  z-index: 99;
  transition: all 0.5s;
}

.positions {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%);
width: 500px;
height: 500px;
}

/* POS 39-40-1 */

.pos-39-40-1 {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-47%);
  width: 150px;
  height: 25px;
  justify-content: center;
}

.pos-1, .pos-40, .pos-39{
  height: 25px;
  width: 25px;
  border: 1px solid black;
  border-radius: 100%;
  margin-right: 10px;
}

.pos-1 {
  border: 3px solid red;
}


/* POS 2-3-4-5 */

.pos-2-3-4-5 {
  position: absolute;
  display: flex;
  bottom: 35px;
  left: 50%;
  transform: translateX(-47px);
  width: 25px;
  height: 150px;
  flex-direction: column-reverse;
}

.pos-2, .pos-3, .pos-4, .pos-5{
  height: 25px;
  width: 25px;
  border: 1px solid black;
  border-radius: 100%;
  margin-bottom: 10px;
}

/* POS 6-7-8-9 */

.pos-6-7-8 {
  position: absolute;
  display: flex;
  bottom: 150px;
  left: 42px;
  width: 150px;
  height: 25px;
  flex-direction: row-reverse;
}

.pos-6, .pos-7, .pos-8{
  height: 25px;
  width: 25px;
  border: 1px solid black;
  border-radius: 100%;
  margin-left: 10px;
}


/* POS 9-10-11 */

.pos-9-10-11 {
  position: absolute;
  display: flex;
  bottom: 150px;
  left: 62px;
  width: 25px;
  height: 150px;
  flex-direction: column-reverse;
}

.pos-9, .pos-10, .pos-11 {
  height: 25px;
  width: 25px;
  border: 1px solid black;
  border-radius: 100%;
  margin-top: 10px;
}

.pos-11{
  border: 2px solid blue;
}

/* POS 12-13-14-15 */

.pos-12-13-14-15 {
  position: absolute;
  display: flex;
  bottom: 220px;
  left: 87px;
  width: 150px;
  height: 25px;
  flex-direction: row;
}

.pos-12, .pos-13, .pos-14, .pos-15{
  height: 25px;
  width: 25px;
  border: 1px solid black;
  border-radius: 100%;
  margin-left: 10px;
}

/* POS 16-17-18 */

.pos-16-17-18 {
  position: absolute;
  display: flex;
  bottom: 245px;
  left: 50%;
  transform: translateX(-47px);
  width: 25px;
  height: 150px;
  flex-direction: column-reverse;
}

.pos-16, .pos-17, .pos-18{
  height: 25px;
  width: 25px;
  border: 1px solid black;
  border-radius: 100%;
  margin-bottom: 10px;
}

/* POS 19-20-21 */

.pos-19-20-21 {
  display: flex;
  position: absolute;
  bottom: 360px;
  left: 50%;
  transform: translateX(-47%);
  width: 150px;
  height: 25px;
  justify-content: center;
}

.pos-19, .pos-20, .pos-21{
  height: 25px;
  width: 25px;
  border: 1px solid black;
  border-radius: 100%;
  margin-right: 10px;
}

.pos-21{
  border: 2px solid yellow;
}

/* POS 22-23-24 */

.pos-22-23-24 {
  position: absolute;
  display: flex;
  bottom: 200px;
  left: 247px;
  transform: translateX(24px);
  width: 25px;
  height: 150px;
  flex-direction: column;
}

.pos-22, .pos-23, .pos-24{
  height: 25px;
  width: 25px;
  border: 1px solid black;
  border-radius: 100%;
  margin-bottom: 10px;
}


/* POS 25-26-27-28 */

.pos-25-26-27-28 {
  position: absolute;
  display: flex;
  bottom: 220px;
  left: 247px;
  transform: translateX(15px);
  width: 150px;
  height: 25px;
  flex-direction: row;
}

.pos-25, .pos-26, .pos-27, .pos-28 {
  height: 25px;
  width: 25px;
  border: 1px solid black;
  border-radius: 100%;
  margin-left: 10px;
}


/* POS 29-30-31 */

.pos-29-30-31 {
  position: absolute;
  display: flex;
  bottom: 95px;
  left: 50%;
  transform: translateX(165px);
  width: 25px;
  height: 150px;
  flex-direction: column;
}

.pos-29, .pos-30, .pos-31{
  height: 25px;
  width: 25px;
  border: 1px solid black;
  border-radius: 100%;
  margin-bottom: 10px;
}

.pos-31 {
  border: 2px solid green;
}


/* POS 32-33-34-35 */

.pos-32-33-34-35 {
  position: absolute;
  display: flex;
  bottom: 150px;
  left: 247px;
  transform: translateX(5px);
  width: 150px;
  height: 25px;
  flex-direction: row-reverse;
}

.pos-32, .pos-33, .pos-34, .pos-35{
  height: 25px;
  width: 25px;
  border: 1px solid black;
  border-radius: 100%;
  margin-left: 10px;
}

/* POS 36-37-38 */

.pos-36-37-38 {
  position: absolute;
  display: flex;
  bottom: 35px;
  left: 247px;
  transform: translateX(25px);
  width: 25px;
  height: 150px;
  flex-direction: column-reverse;
}

.pos-36, .pos-37, .pos-38{
  height: 25px;
  width: 25px;
  border: 1px solid black;
  border-radius: 100%;
  margin-bottom: 10px;
}

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #6C90D8 0%, #7E6CD8 100%);
    overflow: hidden;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.5);
    animation: animate 19s linear infinite;
}




.background li:nth-child(0) {
    left: 34%;
    width: 142px;
    height: 142px;
    bottom: -142px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 39%;
    width: 183px;
    height: 183px;
    bottom: -183px;
    animation-delay: 4s;
}
.background li:nth-child(2) {
    left: 75%;
    width: 199px;
    height: 199px;
    bottom: -199px;
    animation-delay: 5s;
}
.background li:nth-child(3) {
    left: 68%;
    width: 181px;
    height: 181px;
    bottom: -181px;
    animation-delay: 3s;
}
.background li:nth-child(4) {
    left: 49%;
    width: 114px;
    height: 114px;
    bottom: -114px;
    animation-delay: 6s;
}
.background li:nth-child(5) {
    left: 22%;
    width: 176px;
    height: 176px;
    bottom: -176px;
    animation-delay: 24s;
}
.background li:nth-child(6) {
    left: 8%;
    width: 192px;
    height: 192px;
    bottom: -192px;
    animation-delay: 19s;
}
.background li:nth-child(7) {
    left: 56%;
    width: 134px;
    height: 134px;
    bottom: -134px;
    animation-delay: 7s;
}
.background li:nth-child(8) {
    left: 39%;
    width: 158px;
    height: 158px;
    bottom: -158px;
    animation-delay: 2s;
}
.background li:nth-child(9) {
    left: 39%;
    width: 164px;
    height: 164px;
    bottom: -164px;
    animation-delay: 9s;
}
